@using RochaSystem.Features.Produto
@using Tempus.Linq
@using MediatR
@model Index.ProdutoDto[]
@functions {
[Microsoft.AspNetCore.Mvc.Razor.Internal.RazorInject]
public IMediator Mediator { get; private set; }
}

@{
    ViewData["Title"] = "Produtos";
    Layout = "_Layout";
}

<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <p>
                <a class="btn btn-dark" asp-action="Inserir" role="button">Inserir</a>
            </p>

            @if (Model.IsEmpty())
            {
                <div class="m-lista-vazia">Nenhum produto encontrado.</div>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Marca</th>
                            <th>Unidade de Medida</th>
                            <th>Volume/Peso</th>
                            <th>Quantidade</th>
                            <th>Ativo</th>
                            <th style="width: 145px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Descricao</td>
                                <td>@item.Valor</td>
                                <td>@item.Marca</td>
                                <td>@item.UnidadeMedida</td>
                                <td>@item.Volume</td>
                                <td>@item.Quantidade</td>
                                <td><input type="checkbox" disabled checked="@item.Ativo" /></td>
                                <td class="td-custom">
                                    <a class="btn btn-info" id="btnEditar" asp-action="Editar" asp-route-id="@item.Id" role="button"><i class="far fa-edit"></i></a>
                                    <a class="btn btn-danger" id="btnExcluir" asp-action="Excluir" asp-route-id="@item.Id" role="button"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</section>

