@using RochaSystem.Features.Marca
@using Tempus.Linq
@using MediatR
@model Index.MarcaDto[]
@functions {
[Microsoft.AspNetCore.Mvc.Razor.Internal.RazorInject]
public IMediator Mediator { get; private set; }



}

@{
    ViewData["Title"] = "Marcas";
    Layout = "_Layout";
}

<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <p>
                <a class="btn btn-dark" asp-action="Inserir" role="button">Inserir</a>
            </p>

            @if (Model.IsEmpty())
            {
                <div class="m-lista-vazia">Nenhuma marca encontrada.</div>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descrição</th>
                            <th>Estoque</th>
                            <th style="width: 145px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Descricao</td>
                                <td>@item.Estoque</td>
                                <td class="td-custom">
                                    <a class="btn btn-dark" id="btnEditar" asp-action="Editar" asp-route-id="@item.Id" role="button"><i class="far fa-edit"></i></a>
                                    <a class="btn btn-danger" id="btnExcluir" asp-action="Excluir" asp-route-id="@item.Id" role="button"><i class="far fa-trash-alt"></i></a>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</section>