@using RochaSystem.Features.Estoque
@using Tempus.Linq
@using MediatR
@model Index.EstoqueDto[]
@functions {
[Microsoft.AspNetCore.Mvc.Razor.Internal.RazorInject]
public IMediator Mediator { get; private set; }
}

@{
    ViewData["Title"] = "Estoques";
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-dark" asp-action="Inserir" role="button">Inserir</a>
</p>

@if (Model.IsEmpty())
{
    <div class="m-lista-vazia">Nenhum estoque encontrado.</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th style="width: 145px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Descricao</td>
                    <td class="td-custom">
                        <a class="btn btn-dark" id="btnEditar" asp-action="Editar" asp-route-id="@item.Id" role="button"><i class="far fa-edit"></i></a>
                        <a class="btn btn-danger" id="btnExcluir" asp-action="Excluir" asp-route-id="@item.Id" role="button"><i class="far fa-trash-alt"></i></a>
                </tr>
            }
        </tbody>
    </table>

    <style>

        .td-custom {
            display: inline-flex;
        }
    </style>
}